 <header>
  {{>navButtonsViewAll}}
 </header>
 <section id = "card-display">
  <div class="card-container">
    <div class="front-card">
      <div class="inside-container">
        <div class="image-position">
          <img src="/images/together.png" class="card-img-size-detail" alt="three people singing">
        </div>
        <div class ="text-position">
          <h2 class="title-text">The {{family.surname}} Family</h2>
          <p class="text-card">A family of {{family.size}} in {{family.location}}.</p>
          <p class="text-card">{{family.description}}</p>
          {{#if family.smokers}}<p>Allows smokers.</p>
          {{else}}
          <p>Smoke free household.</p>
          {{/if}}
          {{#if family.pets}}<p>Household has pets.</p>
          {{else}}
          <p>Household has no pets.</p>
          {{/if}}
          <form id="dropdown" method="post" action="/family/match/{{family.id}}" class="drop-down">
          <div class="drop-down">
            <label for="loner-select">Select your name if you would like to spend Christmas with this family.</label><br>
            <select name="id" id="loner-select"  form="dropdown" required>
              {{#each loner}}
                <option name="id" id="loner-select" form="dropdown" value={{id}}>{{first_name}}</option>
              {{/each}}
            </select><br>
            <button type="submit" class="text-card form-button">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>  
  </div>
</section>
 