 <header>
  {{>navNoButton}}
 </header>
{{!-- 
<img src="">

<div class="">
<h3>The {{surname}}s</h3>
<p>{{location}}</p>
<p>{{description}}</p>
</div> --}}

 <section id = "card-display">
  <div class="card-container">
    <div class="front-card">
      <div class="inside-container">
        <div class="image-position">
          <img src="/images/together.png" class="card-img-size" alt="three people singing">
        </div>
        <div class ="text-position">
          <h2 class="title-text">The {{surname}} Family</h2>
          <p class="text-card">A family of {{size}} in {{location}}.</p>
          <p class="text-card">{{description}}</p>
          {{#if smokers}}<p>Allows smokers.</p>
          {{else}}
          <p>Smoke free household.</p>
          {{/if}}
          {{#if pets}}<p>Household has pets.</p>
          {{else}}
          <p>Household has no pets.</p>
          {{/if}}
        </div>
      </div>
    </div>  
  </div>
</section>
 