 {{!-- <header>
  {{>navNoButton}}
 </header>

<img src="">

<div class="">
<h3>{{name}}</h3>
<p>{{age}}</p>
<p>{{description}}</p>
</div> --}}

 <header>
  {{>navButtonsViewAll}}
 </header>

 {{!-- Careful with names on JOIN --}}


 
 <section id = "card-display">
  <div class="card-container">
    <div class="front-card">
      <div class="inside-container">
        <div class="image-position">
          <img src="/images/profile.png" class="card-img-size" alt="person looking at reflection in mirror">
        </div>
        <div class ="text-position">
          <h2 class="title-text">{{first_name}}</h2>
          <p class="text-card">{{age}} years old</p>
          <p class="text-card">{{description}}</p>
        </div>
      </div>
    </div>  
  </div>
</section>
 