 <header>
  {{>navButtonsViewAll}}
 </header>

 {{!-- Careful with names on JOIN --}}
 
 <section id = "card-display">
  <div class="card-container">
    <div class="front-card">
      <div class="inside-container">
        <div class="image-position">
          <img src="/images/profile.png" class="card-img-size" alt="person looking at reflection in mirror">
        </div>
        <div class ="text-position">
          <h2 class="title-text">{{loner.first_name}}</h2>
          <p class="text-card">{{loner.age}} years old</p>
          <p class="text-card">{{loner.description}}</p>
          <form id="dropdown" method="post" action="/loner/match/{{loner.id}}" class="drop-down">
            <label for="family-select">Select your family if you would like to host this person.</label><br>
            <select name="id" id="family-select" form="dropdown" required>
              {{#each family}}
                <option name="id" id="family-select" form="dropdown" value={{id}}>{{surname}}</option>
              {{/each}}
            </select><br>
            <button type="submit" class="text-card form-button">Submit</button>
          </form>
        </div>
      </div>
    </div>  
  </div>
 </section>
 